#rw-bubble {
  position: fixed;
  overflow: hidden;
  z-index: 2333;
  visibility: hidden;
  padding: 16px;
  color: #111;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 1px;
  border-left: 1px solid rgba(255,115,165,1);
  border-right: 1px solid rgba(255,115,165,1);
  border-radius: 1em;
  background-color: white;
  transform-origin: top center;
  transform: translateY(-2em) scale(0);
  opacity: .1;
}
#rw-bubble.rw-show{
  visibility: visible !important;
  animation: show cubic-bezier(0,-0.05,0,1.25) .1s forwards .1s;
}
@keyframes show {
  100%{
    opacity: .95;
    transform: translate(0,0) scale(1);
  }
}
#rw-bubble:after,
#rw-bubble:before{
  position: absolute;
  display: block;
  content: '';
  left: 0;
  right: 0;
  height: 5px;
  background-color: rgba(255,115,165,1);
}
#rw-bubble:after{
  top: 0;
}
#rw-bubble:before{
  bottom: 0;
}
.rw-span{
  position: relative;
  padding: 2px;
  color: rgb(253,64,138) !important;
  text-shadow: 1px 1px 1px rgba(255,69,0,.1);
}
.rw-span:after{
  position: absolute;
  z-index: 233;
  display: block;
  content: '';
  right: -.2em;
  top: -.1em;
  width: .5em;
  height: .5em;
  border-radius: 1em;
  background-color:rgba(253,64,138,1);
}

.rw-span:hover:after{
  animation: hide ease-out .2s forwards;
}

@keyframes hide {
  100%{
    opacity: 0;
    transform:scale(3) translate(-50%, .5em);
  }
}

#rw-word{
  color: rgb(255,64,138);
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: capitalize;
}
#rw-remark{
  color: #333;
  font-size: 14px;
  font-weight: 700;
}

#rw-add-word-bubble {
  position: fixed;
  z-index: 233;
  box-sizing: content-box;
  height: 19px;
  cursor: pointer;
  transform: translateY(-2px);
  animation: float ease-in-out .5s alternate infinite;
}

#rw-add-word-bubble-btn {
  width: 19px;
  height: 19px;
  background-image:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAATCAMAAABFjsb+AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAAxQTFRF5GqXczlN////AAAAaaObYwAAAAR0Uk5T////AEAqqfQAAABJSURBVHjalI4BDgAQDANb/v9nM2Mjk3AJkUvbQDVoR0B/OtOxYsFfx2Pwa++5OzL5HlUe3YKtq7HgLDRIHG574cvuHEnK3QQYAJgMAhun+a5mAAAAAElFTkSuQmCC');
}

@keyframes float {
  0%{
    transform: translateY(-2px);
  }
  10%{
    transform: translateY(-2px);
  }
  90%{
    transform: translateY(2px);
  }
  100%{
    transform: translateY(2px);
  }
}